@import "./tailwind.css";
@import "./font.css";

.toast-enter {
  opacity: 0;
}

.toast-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.toast-exit {
  opacity: 1;
}

.toast-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.record-jump-forward-enter {
  transform: translateX(100%);
}

.record-jump-forward-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.record-jump-forward-exit {
  transform: translateX(0);
}

.record-jump-forward-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.record-jump-back-enter {
  transform: translateX(-100%);
}

.record-jump-back-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.record-jump-back-exit {
  transform: translateX(0);
}

.record-jump-back-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

@keyframes fillWidth {
  from {
    width: 0%;
  }
  to {
    width: calc(var(--percentage) * 1%);
  }
}

.fill-graph {
  animation: fillWidth 0.8s ease forwards; /* fillWidth 애니메이션을 0.3초 동안 재생하고 종료 시 마지막 스타일을 유지 */
}

@keyframes slide-modal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes infiniteSlider1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes infiniteSlider2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.header-slider1 {
  animation: 35s linear infinite normal none running infiniteSlider1;
}

.header-slider2 {
  animation: 35s linear infinite infiniteSlider2;
}
